.flex-container {
    display: flex;
    width: 30vw;
  }
  
  .flex-container > div {
    margin: .3vw;
    font-size: 15px;
  }

  button{
    width: 10px;
    height:20px;
  }
  
  i{
   font-size:15px;
  }