<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicon -->
  <link href="/assets/img/favicon.ico" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="/assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="/assets/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>
  <!-- Page Content -->

  <!-- Hero -->
  <!--Spinner-->
  <ngx-spinner bdOpacity = 0.9
  bdColor = "#199eb8"
  size = "large"
  color = "#fff"
  type = "ball-scale-ripple-multiple"
  fullScreen = "true">
  <p style="color: rgb(255, 255, 255)" > Loading, hang on... </p>
  </ngx-spinner>
  <!--Spinner-->
  <section class="hero hello">
    <div class="container text-center bye">
      <div class="row">
        <div class="col-md-12">
          <a class="hero-brand" href="#" title="Home"><img alt="Bell Logo" src="/assets/fire.png" class="logo"></a>
        </div>
      </div>

      <div class="col-md-12">
        <h1>
            MASHUP
          </h1>

        <p class="tagline">
          We empower programmers
        </p>
        <a class="btn btn-full startbtn" href="#about" style="font-size:1.6rem">Get Started Now</a>
      </div>
    </div>

  </section>
  <!-- /Hero -->


  <section class="about" id="about">
    <div class="block bg-primary block-pd-lg block-bg-overlay text-center" data-bg-img="/assets/img/parallax-bg.jpg" data-settings='{"stellar-background-ratio": 0.6}' data-toggle="parallax-bg">
      <h2>
        About us   
      </h2>
  
      <p>
        MASHUP is a Social Programming Engagement and Assessment Platform IT product to motivate programmers to try out new ideas and tech. Often programmers need the thrust and motivation to explore new technologies, exchange knowledge, try out new ideas, and keep raising their coding fluency. How can programming be made fun and engaging? How to encourage peer programming? How programmers of an organization rank up against one another? How programmers of an organization are rank up with other programmers across the world? How can programmers be recognized of their programming proficiencies in a standard way?
      </p>
      <p>
        MASHUP is one-stop place for all the above !
      </p>
    </div>
  </section>


  <!-- Features -->

  <section class="features" id="features">
    <div class="container">
      <h2 class="text-center">
          Features
        </h2>

      <div class="row">
        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-cogs"></span>
              </div>
            </div>

            <div>
              <h3>
                  Recommendation
                </h3>

              <p>
                Our algorithms provide you with right set of challenges to tackle with.
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-envelope"></span>
              </div>
            </div>

            <div>
              <h3>
                  Support
                </h3>

              <p>
                We like to hear from you. Anything you feel asking.
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-bell"></span>
              </div>
            </div>

            <div>
              <h3>
                  Get notified
                </h3>

              <p>
                Stay updated with MASHUP using our email and mobile notifications.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-database"></span>
              </div>
            </div>

            <div>
              <h3>
                  Good Documentation
                </h3>

              <p>
                We are proud to have one of the best documentation of learning modules.
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-graduation-cap"></span>
              </div>
            </div>

            <div>
              <h3>
                  Get Certified
                </h3>

              <p>
                Signed-up members have access to our assessment platfrom, where you stand against the world.
              </p>
            </div>
          </div>
        </div>

        <div class="feature-col col-lg-4 col-xs-12">
          <div class="card card-block text-center">
            <div>
              <div class="feature-icon">
                <span class="fa fa-dashboard"></span>
              </div>
            </div>

            <div>
              <h3>
                  Track your progress
                </h3>

              <p>
                Dashboard allows to view and keep track of all your effort.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Features -->
  <!-- Call to Action -->

  <!-- Portfolio -->

  <section class="portfolio" id="portfolio">
    <div class="container text-center">
      <h1>
          Get Certified in...
        </h1>
      <p>
        Handpicked programming topics and mind-bending coding !
      </p>
    </div>

    <div class="portfolio-grid">
      <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="/assets/angular.jpeg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    Coming Soon....
                  </h3>

                  <p class="card-text">

                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="/assets/CPlus.jpeg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    Coming Soon....
                  </h3>

                  <p class="card-text">

                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="/assets/CSharp.jpeg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    Coming Soon....
                  </h3>

                  <p class="card-text">

                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="/assets/javascript.jpeg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    Coming Soon....
                  </h3>

                  <p class="card-text">

                  </p>
                </div>
              </div></a>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="/assets/nodejs.jpeg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    Coming Soon....
                  </h3>

                  <p class="card-text">

                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="/assets/java.png">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    Start with Java
                  </h3>

                  <p class="card-text">

                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="/assets/python.png">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    Coming Soon....
                  </h3>

                  <p class="card-text">

                  </p>
                </div>
              </div></a>
          </div>
        </div>

        <div class="col-lg-3 col-sm-6 col-xs-12">
          <div class="card card-block">
            <a href="#"><img alt="" src="/assets/ruby.jpeg">
              <div class="portfolio-over">
                <div>
                  <h3 class="card-title">
                    Coming Soon....
                  </h3>

                  <p class="card-text">

                  </p>
                </div>
              </div></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /Portfolio -->
  
  <!-- Team -->

  <section class="team" id="team">
      <div class="container">
        <h1 class="text-center">
            Meet our team
          </h1>
          <br>
          <br>
  
        <div class="row">
          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="/assets/rohit.jpeg">
                <div class="card-title-wrap">
                  <span class="card-title">Rohit Patil</span> <span class="card-text">Full Stack Developer</span>
                </div>
  
                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Connect with me
                  </h4>
  
                  <nav class="social-nav">
                    <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
              </nav>
  
              <p>
                Electronics Engineer || Full Stack Developer
              </p>
            </div>
            </a>
          </div>
        </div>
  
        <div class="col-sm-3 col-xs-6">
          <div class="card card-block">
            <a href="#"><img alt="" class="team-img" src="/assets/ishu.jpg">
                <div class="card-title-wrap">
                  <span class="card-title">Ishu Matil</span> <span class="card-text">Full Stack Developer</span>
                </div>
  
                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Connect with me
                  </h4>
  
                  <nav class="social-nav">
                    <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
            </nav>
  
            <p>
              Information Technology || Software Engineer || Full Stack Developer
            </p>
          </div>
          </a>
        </div>
      </div>
  
      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="/assets/kislay.jpg">
                <div class="card-title-wrap">
                  <span class="card-title">Kishlay Verma</span> <span class="card-text">Full Stack Developer</span>
                </div>
  
                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Connect with me
                  </h4>
  
                  <nav class="social-nav">
                    <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
          </nav>
  
          <p>
            Information Technology || Full Stack Developer
          </p>
        </div>
        </a>
      </div>
      </div>
  
      <div class="col-sm-3 col-xs-6">
        <div class="card card-block">
          <a href="#"><img alt="" class="team-img" src="/assets/ujjawala.jpg">
                <div class="card-title-wrap">
                  <span class="card-title">Ujjawala Yati</span> <span class="card-text">Full Stack Developer</span>
                </div>
  
                <div class="team-over">
                  <h4 class="hidden-md-down">
                    Connect with me
                  </h4>
  
                  <nav class="social-nav">
                    <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
          </nav>
  
          <p>
            Computer Science || Full Stack Developer
          </p>
        </div>
        </a>
      </div>
      </div>
      </div>
      </div>

      <div class="container">    
          <div class="row">
            <div class="col-sm-3 col-xs-6">
              <div class="card card-block">
                <a href="#"><img alt="" class="team-img" src="/assets/pratima.jpg">
                  <div class="card-title-wrap">
                    <span class="card-title">Pratima Verma</span> <span class="card-text">Full Stack Developer</span>
                  </div>
    
                  <div class="team-over">
                    <h4 class="hidden-md-down">
                      Connect with me
                    </h4>
    
                    <nav class="social-nav">
                      <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                </nav>
    
                <p>
                  Information Technology || Full Stack Developer
                </p>
              </div>
              </a>
            </div>
          </div>
    
          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a href="#"><img alt="" class="team-img" src="/assets/keshav.png">
                  <div class="card-title-wrap">
                    <span class="card-title">Keshav Kumar</span> <span class="card-text">Full Stack Developer</span>
                  </div>
    
                  <div class="team-over">
                    <h4 class="hidden-md-down">
                      Connect with me
                    </h4>
    
                    <nav class="social-nav">
                      <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
              </nav>
    
              <p>
                Electronics Engineer || Full Stack Developer
              </p>
            </div>
            </a>
          </div>
        </div>
    
        <div class="col-sm-3 col-xs-6">
          <div class="card card-block">
            <a href="#"><img alt="" class="team-img" src="/assets/uma.jpg">
                  <div class="card-title-wrap">
                    <span class="card-title">Uma Mahesh</span> <span class="card-text">Full Stack Developer</span>
                  </div>
    
                  <div class="team-over">
                    <h4 class="hidden-md-down">
                      Connect with me
                    </h4>
    
                    <nav class="social-nav">
                      <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
            </nav>
    
            <p>
              Computer Science || Full Stack Developer
            </p>
          </div>
          </a>
        </div>
        </div>
    
        <div class="col-sm-3 col-xs-6">
          <div class="card card-block">
            <a href="#"><img alt="" class="team-img" src="/assets/sidd.jpg">
                  <div class="card-title-wrap">
                    <span class="card-title">Siddharth Singhal</span> <span class="card-text">Full Stack Developer</span>
                  </div>
    
                  <div class="team-over">
                    <h4 class="hidden-md-down">
                      Connect with me
                    </h4>
    
                    <nav class="social-nav">
                      <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
            </nav>
    
            <p>
              Computer Science || Full Stack Developer
            </p>
          </div>
          </a>
        </div>
        </div>
        </div>
        </div>

        <div class="container">
      
            <div class="row">
              <div class="col-sm-3 col-xs-6">
                <div class="card card-block">
                  <a href="#"><img alt="" class="team-img" src="/assets/namita.jpg">
                    <div class="card-title-wrap">
                      <span class="card-title">Namita Arora</span> <span class="card-text">Full Stack Developer</span>
                    </div>
      
                    <div class="team-over">
                      <h4 class="hidden-md-down">
                        Connect with me
                      </h4>
      
                      <nav class="social-nav">
                        <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-envelope"></i></a>
                  </nav>
      
                  <p>
                    Computer Science || Full Stack Developer
                  </p>
                </div>
                </a>
              </div>
            </div>
            </div>
        </div>
    </section>
    <!-- /Team -->

  <!-- @component: footer -->
  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="section-title">Contact Us</h2>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4">
          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>Stackroute<br>Koramangala, Bangalore, India</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>admin@mashup.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>080 2325365</p>
            </div>

          </div>
        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>
        </div>

      </div>
    </div>
  </section>

  <!-- Required JavaScript Libraries -->
  <script src="/assets/lib/jquery/jquery.min.js"></script>
  <script src="/assets/lib/jquery/jquery-migrate.min.js"></script>
  <script src="/assets/lib/superfish/hoverIntent.js"></script>
  <script src="/assets/lib/superfish/superfish.min.js"></script>
  <script src="/assets/lib/tether/js/tether.min.js"></script>
  <script src="/assets/lib/stellar/stellar.min.js"></script>
  <script src="/assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/lib/counterup/counterup.min.js"></script>
  <script src="/assets/lib/waypoints/waypoints.min.js"></script>
  <script src="/assets/lib/easing/easing.js"></script>
  <script src="/assets/lib/stickyjs/sticky.js"></script>
  <script src="/assets/lib/parallax/parallax.js"></script>
  <script src="/assets/lib/lockfixed/lockfixed.min.js"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="/assets/js/custom.js"></script>

  <script src="/assets/contactform/contactform.js"></script>

</body>
</html>
